@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@300;900&display=swap');

:root {
    --primary-colour: #fff;
    --main-colour: hsl(49, 100%, 50%);
    --main-font-family: 'Roboto', sans-serif;
    --sub-font-family: 'Poppins', sans-serif;
    --max-width: 1500px
    
}

.contact-container{
    width: 600px;
    height: 600px;
    background-color: hsla(0, 0%, 0%, 0.315);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    padding: 20px;
    


}
.contact-container > *{
    padding: 10px;
}
.contact-container h1,
.contact-container h2{
    font-family: var(--main-font-family);
    color: var(--primary-colour);



}

.contact-container img {
    width: 500px;

}