@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@300;900&display=swap');

:root {
    --primary-colour: #fff;
    --main-colour: hsl(49, 100%, 50%);
    --main-font-family: 'Roboto', sans-serif;
    --sub-font-family: 'Poppins', sans-serif;
    --max-width: 1500px
    
}


main{
    height: 90vh;
    padding-top: 250px;
    display: flex;
    justify-content: center;
    text-align: center;



    
}


main h1{
    font-size: 150px;
    font-family: var(--main-font-family);
    color: var(--primary-colour);
}

main h3{
    margin-top: 25px;
    font-family: var(--sub-font-family);
    color: var(--main-colour);
    font-size: 30px;
}

