@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@300;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: transparent;
    list-style: none;
}
:root {
    --primary-colour: #fff;
    --main-colour: hsl(49, 100%, 50%);
    --main-font-family: 'Roboto', sans-serif;
    --sub-font-family: 'Poppins', sans-serif;
    --max-width: 1500px
    
}
nav{
    width: 100%;
    height: 80px;

}
.navigation-container{
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 80px;
    


}

.links ul{
    
    display: flex;
    gap: 10rem;
}


.links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 50px;
    font-family: var(--sub-font-family);
    font-size: 18px;
    color: var(--primary-colour);
    transition: all 0.25s ;

    border-radius: 10px;
}
.links a:hover{
    background-color: var(--main-colour);
    scale: 1.1;
    color: black;


}

.logo{
    font-family: var(--main-font-family);
    color: var(--main-colour);
    font-weight: 900;
    font-style: italic;
    font-size: 25px;
}

.logo:hover{
    
}

body{

    height: 100vh;
    background-image: linear-gradient(rgba(97, 97, 97, 0.281), rgb(0, 0, 0)) ,url("/src/assets/DALL·E\ 2023-02-17\ 14.54.00\ -\ An\ image\ of\ a\ bengali\ biriyani\ with\ a\ dark\ background\ for\ the\ homepage\ of\ a\ resturent\ website\ 4K.\ \ .png");
	background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	
}





