@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@300;900&display=swap');

:root {
    --primary-colour: #fff;
    --main-colour: hsl(49, 100%, 50%);
    --main-font-family: 'Roboto', sans-serif;
    --sub-font-family: 'Poppins', sans-serif;
    --max-width: 1500px
    
}

.menu-container {
    background-color: hsla(0, 0%, 0%, 0.315);
    border-radius: 20px;
    width: 1200px;
    height: 700px;
    padding: 100px;
    margin: 70px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    box-shadow: -1px 1px 24px 6px rgba(0, 0, 0, 0.219);




}
.biriyani{
    background-color: rgba(231, 231, 231, 0.233);
    font-family: var(--main-font-family);

    width: 330px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    border-radius: 20px;
    transition: all 0.25s;
    box-shadow: -1px 1px 24px 6px rgba(0, 0, 0, 0.219);
}

.biriyani:hover{
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    scale: 1.1;

}

.biriyani h2{
    font-size: 17px;
    color: var(--main-colour);

}
.biriyani img{
    width: 170px;
    height: 170px;
    padding: 5px;
    border-radius: 10px;
}